.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}

footer {
  margin-top: auto;
  position: relative;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}
